/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin-ext');

// Mixin for include fonts
// @include font-face("ArialMT", fonts/CenturyGothic, normal, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
// @import 'core/header';
// @import 'core/footer';
@import 'core/form';
// @import 'core/grid';
// @import 'core/soc';
// @import 'core/breadcrumb';
// @import 'core/pagination';
@import 'core/buttons';
@import 'core/video';


.logo {
	display: inline-block;
	margin-bottom: 46px;
	@media (max-width: 1199px) {
	    width: 160px;
	    margin-bottom: 44px;
	}
	@media (max-width: 991px) {
	    margin-bottom: 33px;
	}
	@media (max-width: 767px) {
	    width: 160px;
	    padding-left: 10px;
	    margin-bottom: 23px;
	}
}

.icon {
	&_pdf {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		&:before {
			content: url('../img/PDF.png');
		}
	}
}

.firstScreen {
	background: url('../img/BG.jpg') no-repeat left center;
	background-size: 127% auto;
	padding: 30px 0;
	display: table;
	width: 100%;
	&__content {
		display: table-cell;
		// vertical-align: top;
		// padding-top: 136px;
		vertical-align: middle;
	}
	&__wrap {
		max-width: 715px;
	}
	&__title {
		margin: 0;
		font-size: 64px;
		margin-bottom: 19px;
	}
	&__sub {
		margin: 0;
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 68px;
	}
	&__action {

	}
	@media (max-width: 1199px) {
		background-size: 133% auto;
	    &__title {
	    	font-size: 44px;
	    	margin-bottom: 15px;
	    }
	    &__wrap {
	    	max-width: 508px;
	    }
	    &__sub {
	    	font-size: 19px;
	    	margin-bottom: 50px;
	    }
	}
	@media (max-width: 991px) {
	    background-image: url(../img/bg-sm.jpg);
	    background-size: cover;
	    background-position: bottom center;
	    padding-bottom: 78%;
	    &__content {
	    	text-align: center;
	    	vertical-align: top;
	    }
	    &__wrap {
	    	padding-top: 41px;
			max-width: 507px;
			display: inline-block;
			text-align: left;
	    }
	    &__sub {
	    	margin-bottom: 54px;
	    }
	}
	@media (max-width: 767px) {
		background-image: url(../img/bg-xs.jpg);
		background-position: center bottom;
		background-size: cover;
		padding-bottom: 30px;
		padding-top: 0;
		position: relative;
		&__wrap {
			padding-top: 28px;
		}
	    &__title {
	    	font-size: 38px;
	    	margin-bottom: 21px;
	    	padding-left: 10px;
	    	padding-right: 10px;
	    }
	    &__sub {
			font-size: 18px;
			margin-bottom: 0px;
			position: relative;
			padding-bottom: 64%;
			padding-left: 10px;
			padding-right: 10px;
			br {
				display: none;
			}
			&:after {
				content: '';
				position: absolute;
				background: url(../img/Glasses.png) no-repeat center center;
				background-size: 100%;
				width: 104%;
				left: -2%;
				bottom: 3%;
				padding-bottom: 52%;
				z-index: 2;
			}
	    }
	}
}

.thankyou {
	background: url('../img/BG-2.jpg') no-repeat top center;
	background-size: cover;
	padding: 30px 0;
	display: table;
	width: 100%;
	.firstScreen__content {
		// vertical-align: top;
	}
	.logo {
		margin-bottom: 100px;
	}
	&__content {
		@extend %clear_a;
	}
	&__left {
		float: left;
		width: 57.8%;
		margin-right: 5%;
	}
	&__right {
		// overflow: hidden;
		float: right;
		width: 37%;
	}
	&__description {
		font-size: 20px;
		float: right;
		width: 37%;
		p {
			margin-top: 0;
			margin-bottom: 21px;
		}
	}
	&__action {
		margin: 32px 0 38px;
		@extend %clear_a;
	}
	&__label {
		float: left;
		width: 58%;
		font-size: 26px;
		font-weight: 900;
		letter-spacing: 0.02em;
		line-height: 1.3;
		position: relative;
		&:after {
			content: url('../img/form_arrow.svg');
			position: absolute;
			// right: 0;
			bottom: -37px;
			width: 30px;
			margin-left: 16px;
			transform: rotate(-19deg);
			// display: inline;
			// vertical-align: unset;;
		}
	}
	&__img {
		float: right;
		width: 42%;
		padding-top: 45px;
		img {
			max-width: none;
			// margin-left: -8px;
		}
	}
	@media (max-width: 1199px) {
		.logo {
			margin-bottom: 39px;
		}
		&__left {
			width: 56.8%;
			margin-right: 4%;
		}
		&__right {
			width: 39%;
		}
		&__description {
			float: none;
			width: auto;
			margin-bottom: 38px;
			font-size: 18px;
			p {
			}
		}
		&__action {
			margin: 0 0 38px;
		}
		&__label {
			float: none;
			width: auto;
			font-size: 22px;
			&:after {
				content: url('../img/thank-arrow.svg');
				transform: rotate(0);
				left: 0;
				bottom: -63px;
			}
		}
		&__img {
			width: 54%;
			padding-top: 0;
			margin-bottom: -20px;
			img {
				max-width: 100%;
				// margin-left: -8px;
			}
		}
	}
	@media (max-width: 991px) {
		.logo {
			display: inline-block;
			max-width: 510px;
			width: 100%;
			text-align: left;
		}
		&__content {
			display: inline-block;
			text-align: left;
			max-width: 510px;
			width: 100%;
		}
		&__left {
			width: auto;
			margin-right: 0;
			float: none;
			margin-bottom: 44px;
		}
		&__right {
			width: auto;
			float: none;
		}
		&__description {
			float: none;
			width: auto;
			p {
			}
		}
		&__action {
			margin-bottom: 60px;
		}
		&__label {
			width: 60%;
			float: left;
			&:after {
				content: url('../img/form_arrow.svg');
				left: auto;
				bottom: -50px;
			}
		}
		&__img {
			width: 40%;
			padding-top: 0;
			margin-bottom: 0;
			img {
				max-width: 100%;
				// margin-left: -8px;
			}
		}
	}
	@media (max-width: 767px) {
		.logo {
			margin-bottom: 30px;
			padding-left: 10px;
			img {
				width: 150px;
			}
		}
		&__content {
			padding-left: 10px;
			padding-right: 10px;
		}
		&__left {
			box-sizing: content-box;
			margin-left: -25px;
			margin-right: -25px;
			margin-bottom: 30px;
		}
		&__right {
		}
		&__description {
			font-size: 12px;
			margin-bottom: 24px;
			font-weight: 400;
			line-height: 1.3;
			p {
				margin-bottom: 15px;
			}
		}
		&__action {
			margin-bottom: 30px;
		}
		&__label {
			width: auto;
			font-size: 18px;
			&:after {
				content: url('../img/thank-arrow.svg');
				transform: rotate(0);
				left: 0;
				bottom: -63px;
			}
		}
		&__img {
			width: 62%;
			img {
				max-width: 100%;
				// margin-left: -8px;
			}
		}
	}
}

.form {
	&__content {
		background-color: rgba(255, 255, 255, 0.55);
		padding: 39px 42px 45px;
		margin-bottom: 36px;
	}
	&__legend {
		font-size: 27px;
		font-weight: 500;
		position: relative;
		margin: 0 0 67px;
		// margin-bottom: 67px;
		b {
			font-weight: 700;
			display: block;
		}
		&:after {
			content: '';
			width: 46px;
			height: 57px;
			background: url('../img/form_arrow.svg') no-repeat center center;
			background-size: 100%;
			position: absolute;
			display: block;
			right: 5px;
			bottom: -38px;
		}
	}
	@media (max-width: 1199px) {
		&__content {
			padding: 33px 35px 31px;
		}
	    &__legend {
	    	font-size: 20px;
	    	margin-bottom: 52px;
	    	b {
	    		font-weight: 600;
	    	}
	    	&:after {
	    		width: 35px;
				height: 43px;
				right: 3px;
				bottom: -29px;
	    	}
	    }
	}
	@media (max-width: 991px) {
		&__content {
			padding: 31px 35px 31px;
		}
		&__legend {
			margin-bottom: 53px;
		}
	}
	@media (max-width: 767px) {
		&__content {
			padding: 22px 13px 14px;
			margin-bottom: 20px;
		}
		&__legend {
			margin-bottom: 22px;
	    	&:after {
	    		width: 24px;
				height: 30px;
				right: 6px;
				bottom: -17px;
	    	}
		}
	}
}


